body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Back5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    margin: 0;
    padding: 20px;
}

#wrapper {
    width: 1200px;
    margin: auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}

header {
    background-color: #192c7a;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

header h1 {
    margin: 0;
    font-size: 50px;
}

header p {
    margin-top: 10px;
    font-size: 24px;
}

nav {
    font-weight: bold;
    font-size: 1.25em;
    background-color: #1E7D76;
    text-align: center;
    border-top: 2px solid #13300d;
    border-bottom: 2px solid #1b0d30;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 15px;
    display: block;
    width: 150px;
    color: #182721;
}

nav a:hover {
    color: #000000;
    background-color: #33a39b;
}

main {
    background-color: #e7e7e7;
    color: #000000;
    padding: 1.5em;
    font-size: 18px;
}

h2 {
    color: #000000;
    font-size: 40px;
}

footer {
    background-color: #192c7a;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    font-style: italic;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 12px;
    font-size: 18px;
}

th {
    background-color: #192c7a;
    color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #1E7D76;
}

tr:hover {
    background-color: #bcbcbc;
}

table a {
    color: #0a047d;
    font-weight: bold;
}

.circle-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid black;
    object-fit: cover;
    float: right;
    margin-left: 20px;

    position: relative;
    top: -20px;
}

.skills li {
    margin-bottom: 5px;
    font-size: 20px;
}